<h3>Forms tasks</h3>

<div>
  <h3>Examples</h3>
  <nts-a-build-form-example></nts-a-build-form-example>
  <!-- <nts-b-collection-in-form-example></nts-b-collection-in-form-example> -->
  <!-- <nts-c-interrelated-ctrls-example></nts-c-interrelated-ctrls-example> -->
  <!-- <nts-d-dynamic-forms-example></nts-d-dynamic-forms-example> -->
  <!-- <nts-e-validations-example></nts-e-validations-example> -->
</div>

<div>
  <h3>Tasks</h3>
  TODO
  <!-- <nts-f-form-values-example></nts-f-form-values-example> -->
  <!-- <nts-my-form-validation-task></nts-my-form-validation-task> -->
</div>
